<div>
  <!-- ko ifnot: editing -->
  <span data-bind="text: syncEndpoint"></span> last sync: <span data-bind="text: syncTimestamp"></span>
  <!-- ko if: syncPossible() && !synchronizing() -->
  <button data-bind="click: syncStart">start sync</button>
  <!-- /ko -->
  <!-- ko if: synchronizing -->
  <button data-bind="click: syncStop">stop sync</button>
  <!-- /ko -->
  <button data-bind="click: syncEndpointEdit, enable: !initializing()">edit</button>
  <!-- /ko -->
  <!-- ko if: editing -->
  <input type="text" data-bind="value: newSyncEndpoint"></input>
  <button data-bind="click: newSyncEndpointSave">save</button>
  <button data-bind="click: newSyncEndpointCancel">cancel</button>
  <!-- /ko -->
</div>
